<div class="list-container admin-dish-list">
  <h2>Dishes</h2>
  <button mat-flat-button color="primary" (click)="openForm()">Add Dish</button>
  <mat-table [dataSource]="dishes" *ngIf="!loading">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let dish">{{ dish.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let dish">{{ dish.price | currency }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let dish">{{ dish.category_id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let dish">
        <button mat-icon-button (click)="openForm(dish)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteDish(dish)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['name', 'price', 'category', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'price', 'category', 'actions'];"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="pagingData.total"
    [pageSize]="pagingData.pageSize"
    [pageIndex]="pagingData.pageIndex"
    [pageSizeOptions]="[15, 30, 50]"
    (page)="loadDishes($event)"
    *ngIf="!loading && pagingData.total > pagingData.pageSize"
    showFirstLastButtons>
  </mat-paginator>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-error *ngIf="error">{{ error }}</mat-error>
</div>
